:root {
  --main-font-color: brown;
  --semi-font-color: #ffffff;
  --main-bg-color: #879163;
  --semi-bg-color: #3c3115;
  --main-section-bg-color: grey;
  --main-font: "Roboto", serif, sans-serif;
}
